;
; Create a local copy of this file named `env.ini` and setup your configuration
;
instance_name = my-instance
database_name = my-db
key_file_path = /path/to/my/key.json
instance_region = regional-europe-west1