;
; Create a local copy of this file named `env.ini` and setup your configuration
;
instance_name = tao-curgen-inst
database_name = julien-dbal-driver-tests
key_file_path = julien-dbal-driver-tests
instance_region = regional-europe-west1