;
; Create a local copy of this file named `env.ini` and setup your configuration
;
instance_name = tao-curgen-inst
database_name = julien-dbal-driver-tests
transactional_table_name = transactional_test